<a href="https://colab.research.google.com/github/anjaleeDS/DataVizStanford/blob/master/ExploringKaggleData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **LIB Calls and google drive mounts**

In [0]:
# declarations of libs
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import math
from numpy import nan_to_num
from vega_datasets import data

# md = data.movies()
# md.columns
from google.colab import files
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

In [0]:
%ls

'My Drive'/

In [0]:
%cd My\ Drive
%cd Colab\ Notebooks

[Errno 2] No such file or directory: 'My Drive'
/gdrive/My Drive
/gdrive/My Drive/Colab Notebooks

In [0]:
%ls-al

Get Whole Foods data as .gsheet from drive

In [0]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open('wholefoods_data')

# get_all_values gives a list of rows.
rows = worksheet.sheet1.get_all_values()

# Convert to a DataFrame and make the first row the column name. Then drop the first row.
wf_df = pd.DataFrame.from_records(rows)
wf_df.columns = wf_df.iloc[0]
wf_df = wf_df[1:]

length = len(wf_df.columns)

# GET STATE FROM NAME
ex = wf_df['name'].str.split(r"\,|-", expand=True)
# print(state)
wf_df[length] = ex[1] #city
wf_df[length+1] = ex[2] #state
wf_df

# SPLIT THE ADDRESS, PHONE | HOURS COLUMN TO THREE SEPARATE COLUMNS

# address_df = wf_df['address, (phone), | hours'].str.split(",", expand=True)

# wf_df[length] = address_df[0] #address
# wf_df[length+1] = address_df[1] #city
# state = address_df[2].str.split(" ", n=1, expand=True)
# wf_df[length+2] = state[0]

0            lat        long  ...                 4   5
1     -86.752554   33.460451  ...        Birmingham  AL
2    -86.5904161   34.712443  ...        Huntsville  AL
3    -88.1504613  30.6761375  ...            Mobile  AL
4    -86.1714041  32.3578148  ...        Montgomery  AL
5    -94.1450778  36.1135626  ...      Fayetteville  AR
..           ...         ...  ...               ...  ..
455  -122.536232  47.2273903  ...  University Place  WA
456  -122.507387   45.615538  ...         Vancouver  WA
457   -89.443819     43.0751  ...           Madison  WI
458   -87.883706   43.060374  ...         Milwaukee  WI
459  -88.0517225  43.0748096  ...         Wauwatosa  WI

[459 rows x 6 columns]

Get County covid data from a URL with .csv ending

In [0]:
url="https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
covid=pd.read_csv(url)

url="https://data.nola.gov/api/views/6puz-7prj/rows.csv"
food_truck_zones = pd.read_csv(url)
food_truck_zones.the_geom

In [0]:
unemp = data.unemployment_across_industries()
unemp

             series  year  month  count  rate                      date
0        Government  2000      1    430   2.1 2000-01-01 08:00:00+00:00
1        Government  2000      2    409   2.0 2000-02-01 08:00:00+00:00
2        Government  2000      3    311   1.5 2000-03-01 08:00:00+00:00
3        Government  2000      4    269   1.3 2000-04-01 08:00:00+00:00
4        Government  2000      5    370   1.9 2000-05-01 07:00:00+00:00
...             ...   ...    ...    ...   ...                       ...
1703  Self-employed  2009     10    610   5.9 2009-10-01 07:00:00+00:00
1704  Self-employed  2009     11    592   5.7 2009-11-01 07:00:00+00:00
1705  Self-employed  2009     12    609   5.9 2009-12-01 08:00:00+00:00
1706  Self-employed  2010      1    730   7.2 2010-01-01 08:00:00+00:00
1707  Self-employed  2010      2    680   6.5 2010-02-01 08:00:00+00:00

[1708 rows x 6 columns]

In [0]:
unemp.series.unique()

array(['Government', 'Mining and Extraction', 'Construction',
       'Manufacturing', 'Wholesale and Retail Trade',
       'Transportation and Utilities', 'Information', 'Finance',
       'Business services', 'Education and Health',
       'Leisure and hospitality', 'Other', 'Agriculture', 'Self-employed'],
      dtype=object)

In [0]:
sns.scatterplot