<a href="https://colab.research.google.com/github/anjaleeDS/DataVizStanford/blob/master/tradesy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from fbprophet import Prophet
import json

In [0]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive
%cd My\ Drive/Colab \Notebooks

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive
/gdrive/My Drive/Colab Notebooks

In [0]:
data = []

with open('tradesy_data.json') as fh:
    for line in fh:
        line = line.replace("'",'"')
        data.append(json.loads(line))
fh.close()

# my_data = my_data.replace("'",'"')
# my_data = my_data.replace('\t','')
# my_data = my_data.replace('\n','')
# my_data = my_data.replace(',}','}')
# my_data = my_data.replace(',]',']')

In [0]:
data[7]

{'lists': {'bought': ['598'], 'selling': [], 'sold': [], 'want': ['7596']},
 'uid': '8'}

In [0]:
df = pd.DataFrame(data)

In [0]:
with open('tradesy_data.json') as test:
    for line in test:
        line = line.replace("'",'"')
        data.append(json.loads(line))

dddf= pd.read_json(line)

test.close()

In [0]:
dddf.reset_index
dddf

             lists      uid
bought          []  2038305
selling         []  2038305
sold            []  2038305
want     [1485278]  2038305